<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ITMO.CSCourse.Exam5.ReadSQLDBForm.Properties.Settings.WindowsFormsConnectionString"
            connectionString="Data Source=DESKTOP-JAMOVG3\SQLEXPRESS;Initial Catalog=WindowsForms;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>