<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IMTO.CSCourse.SQL_connection.Properties.Settings.sql_for_events_from_ASAConnectionString"
            connectionString="Data Source=sql-for-events-from-asa.database.windows.net;Initial Catalog=sql-for-events-from-ASA;User ID=sqlserverADMIN;Password=Pa$$word$erver1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>